@import url(fontiran.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
body {
	font-family: IRANSansX  !important;
	margin: 0;
}
 h2, h3, h4, h5, h6,input, textarea {
	font-family: IRANSansX !important;
}

